In [3]:
import pandas as pd

In [4]:
name = pd.read_csv('../data/popular_baby_names.csv')

In [5]:
name

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Olivia,172,1
1,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Chloe,112,2
2,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Sophia,104,3
3,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emily,99,4
4,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emma,99,4
...,...,...,...,...,...,...
11340,2011,MALE,WHITE NON HISPANIC,LEV,10,97
11341,2011,MALE,WHITE NON HISPANIC,AUGUSTUS,10,97
11342,2011,MALE,WHITE NON HISPANIC,SHAUL,10,97
11343,2011,MALE,WHITE NON HISPANIC,WESLEY,10,97
11344,2011,MALE,WHITE NON HISPANIC,KENNETH,10,97